{{template "base/head" .}}
<div role="main" aria-label="{{.Title}}" class="page-content organization org-projects">
	{{template "orgproject/shared/header" .}}
	<div class="ui container">
		{{template "base/alert" .}}
		{{template "orgproject/shared/ledger" .}}
	</div>
</div>
{{template "base/footer" .}}
