{{if .OrgProjectRows}}
	<div class="ui segments">
		{{range .OrgProjectRows}}
			<div class="ui segment">
				<div class="flex-left-right tw-gap-4">
					<div class="tw-min-w-0">
						<a class="tw-text-lg tw-font-semibold" href="{{$.OrgProjectBaseLink}}/{{.Project.Slug}}">{{.Project.Name}}</a>
						<div class="text light-2 tw-mt-1">{{if .Project.Description}}{{.Project.Description}}{{else}}{{ctx.Locale.Tr "org_project.no_description"}}{{end}}</div>
					</div>
					<div class="flex-text-block">
						{{if eq .Project.Lifecycle "archived"}}<span class="ui basic label">{{ctx.Locale.Tr "org_project.archived"}}</span>{{end}}
						<span class="text light-2">{{DateUtils.TimeSince .Project.UpdatedUnix}}</span>
					</div>
				</div>
				{{if .Fields}}
					<div class="ui mini horizontal list tw-mt-3">
						{{range .Fields}}
							<div class="item"><strong>{{.Label}}:</strong> {{.Value}}</div>
						{{end}}
					</div>
				{{end}}
			</div>
		{{end}}
	</div>
	{{template "base/paginate" .}}
{{else}}
	<div class="ui placeholder segment">
		<div class="ui icon header">
			{{svg "octicon-project" 32}}
			{{ctx.Locale.Tr "org_project.empty"}}
		</div>
		{{if .CanEditOrgProjects}}<a class="ui primary button" href="{{.OrgProjectBaseLink}}/new">{{ctx.Locale.Tr "org_project.new"}}</a>{{end}}
	</div>
{{end}}
